@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts roboto google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background: #181818;
  --blue-color: #2666cf;
  --red-color: #c62e2e;
  --green-color: #72bf78;
  --yellow-color: #fabc3f;
  --white-color: #ffffff;
  --black-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white-color);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

/* navbar */
.navbar {
  background-color: var(--black-color);
  padding: 1rem;
  border-bottom: 1px solid var(--white-color);
}
.navbar a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}
.navbar a:hover {
  color: var(--blue-color);
}
.navbar-nav {
  background-color: var(--black-color);
  padding: 2rem;
}
/* dropdown menu */
.dropdown-toggle.active {
  background-color: #007bff; /* Warna latar belakang biru untuk menu utama */
  color: white; /* Warna teks untuk menu utama */
  padding: 10px;
  border-radius: 10px;
}
.navbar-nav .dropdown {
  position: relative;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  top: 100%; /* Menampilkan dropdown tepat di bawah menu utama */
  left: 0;
  transform: none; /* Menghapus transformasi default Bootstrap */
  margin-top: 0; /* Menghilangkan jarak vertikal */
}

/* component dashboard CARD*/
.card {
  min-height: 200px;
}
.card-view {
  margin-top: 2rem;
}
.card-view .card {
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--black-color);
}
.card-title,
.card-text {
  color: var(--white-color);
}
.card-text {
  font-size: 14px;
}
.card-title {
  font-size: 15px;
  font-weight: 600;
}
.card .title-ndkeluar {
  color: var(--red-color);
  font-size: 40px;
  font-weight: 600;
}
.card .title-disposisi {
  color: var(--green-color);
  font-size: 40px;
  font-weight: 600;
}
.card-text-disposisi{
  color: var(--white-color);
  font-size: 14px;
}
.card-text-disposisi
span {
  color: var(--green-color);
}
.card .title-ndranmor{
  color: var(--yellow-color);
  font-size: 40px;
  font-weight: 600;
}
.card-text-ndranmor{
  color: var(--white-color);
  font-size: 14px;
}
.card-text-ndranmor span {
  color: var(--yellow-color);
}
.card .title-ndharwat{
  color: var(--blue-color);
  font-size: 40px;
  font-weight: 600;
}
.card-text-ndharwat{
  color: var(--white-color);
  font-size: 14px;
}
.card-text-ndharwat span {
  color: var(--blue-color);
}

/* components dashboard chart */
.mychart{
  margin-top: 4rem;
}
.card-mychart{
  background-color: var(--black-color);
  border-radius: 10px;
  padding: 1rem;
}
.card-mychartPolar {
  background-color: var(--black-color);
  border-radius: 10px;
  padding: 1rem;
}

/* COMPONENT NOTA DINAS - DASHAOARD */
.card-notadinas{
  margin-top: 2rem;
}
.card-notadinas .card {
  border-radius: 10px;
}
.card-notadinas .notadinas {
  background: var(--black-color);
}

.notadinas .card-title {
  color: var(--white-color);
  font-size: 19px;
}
.notadinas .card-text {
  color: var(--green-color);
  font-size: 33px;
  font-weight: 600;
}
.notadinas .card-title-bmp{
  color: var(--white-color);
  font-size: 19px;
}
.notadinas .card-text-bmp {
  color: var(--blue-color);
  font-size: 33px;
  font-weight: 600;
}
.notadinas .card-title-harwat {
  color: var(--white-color);
  font-size: 19px;
}
.notadinas .card-text-harwat {
  color: var(--red-color);
  font-size: 33px;
  font-weight: 600;
}

/* COMPONENET NOTA DINAS - CHART */
.card-chartNotaDinas{
  margin-top: 5rem;
}
.card-chartNotaDinas .card{
  border-radius: 10px;
  background: var(--black-color);
}